@model EntityLayer.Concrete.Heading

@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Başlık Ekle</h2>

@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(w => w.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.Name)
    </div>
    <div class="form-group">
        @Html.Label("Yazar")
        @Html.DropDownList("WriterId", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Kategori")
        @Html.DropDownList("CategoryId", null, new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Yazarı Ekle</button>
}

