@model EntityLayer.Concrete.Heading

@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("AddHeading", "WriterPanel", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(w => w.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.Name)
    </div>
    <div class="form-group">
        @Html.Label("Kategori")
        @Html.DropDownList("CategoryId", null, new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Başlık Ekle</button>
}
