@model EntityLayer.Concrete.Writer

@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets/css/writer-login.css">

</head>
<body class="img" style="background-image: url(/assets/img/writer-bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Mvc Proje Kampı Yazar Girişi</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Bir Hesabınız Varmı?</h3>
                        @using (@Html.BeginForm("WriterLogin", "Login", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="returnUrl" value="@Request.QueryString["ReturnUrl"]" />

                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "E-Mail" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "********" })
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Giriş Yap</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-md-right">
                                    <a href="/Login/Index" style="color: #fff">Admin Girişi</a>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="/Register/WriterRegister" style="color: #fff">Yeni Hesap Oluştur</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>

